<h2>Game: {{game.title}}</h2>

<p><strong>BoardGameGeek ID:</strong> {{game.bgg}}</p>

{{#if game.notes}}
	<p><strong>Notes:</strong> {{game.notes}}</p>
{{/if}}

<h3>Plays</h3>
<ul>
	{{#each plays}}
		<li>
			<a href='/plays/{{id}}'>{{player_names}}</a>
		</li>
	{{else}}
		<li>No plays recorded for this game.</li>
	{{/each}}
</ul>

<a href='/games'>Go back to list</a>